<div class="search_form mb-3">
  <h4>フリーワード検索</h4>
  <%= form_with url: search_path, local: true, method: :get do |f| %>
    <%= f.text_field :word %>
    <%= f.submit "検索" %>
  <% end %>
</div>

  <table class="spell mt-4">
    <% posts.each do |post| %>
    <tr>
      <td><%= link_to post_path(post) do %><%= post.spell %><% end %></td>
      <td><%= post.meaning %></td>
    </tr>
    <% end %>
  </table>
