<div class="content">
    <h1>スペル登録</h1>
    
    <p><%= link_to '一覧にもどる', posts_path %></p>
    
    <%= form_with model: @post do |f|%>
<<<<<<< HEAD

      <div class="field">
        <%= f.label :spell, "スペル" %></br>
        <%= f.text_field :spell%>
      </div>
    
      <div class="field">
        <%= f.label :meaning, "意味" %></br>
=======
    
    <div class="align-items-center">
      <%= render 'shared/error_messages', model: f.object %>
    </div>
      
      <div class="field">
        <%= f.label :spell, "スペル" %><br>
        <%= f.text_field :spell%>
      </div>
    
      <div class="field mt-3">
        <%= f.label :meaning, "意味" %><br>
>>>>>>> develop
        <%= f.text_area :meaning%>
      </div>
    
      <div class="submit">
        <%= f.submit "登録"%>
      </div>
    
    <% end %>
</div>