<div class="content">
  <h1>日記編集</h1>
  
  <p><%= link_to '一覧にもどる', diaries_path %></p>
    
  <%= form_with model: @diary do |f| %>

    <div class="field">
      <%= f.label :title, "日記タイトル" %></br>
      <%= f.text_field :title %>
    </div>
  
    <div class="field">
      <%= f.label :japanese, "日本語部分" %></br>
      <%= f.text_area :japanese %>
    </div>
    
    <div class="field">
      <%= f.label :english, "英語部分" %></br>
      <%= f.text_area :english %>
    </div>
  
    <div class="submit">
      <%= f.submit "日記更新"%>
    </div>
  
  <% end %>
</div>