<div class="content">
  <h1>日記一覧</h1>
  
  <p><%= link_to '日記登録', new_diary_path %></p>
  <p><%= link_to 'プロフィール', profile_path(current_user.id) %></p>
    
  <% @diaries.each do |diary| %>

    <div class="diary">
      <%= link_to diary_path(diary) do %><%= diary.title %><% end %>
      <%= l diary.created_at, format: :long %><br>
    </div>
    
  <% end %>
</div>